################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Maqta.GateWay.EmployeeCRUD/.vs/Maqta.GateWay.EmployeeCRUD
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD/bin/Debug/net6.0
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD/obj
/Angular/.vscode
/Maqta.GateWay.EmployeeCRUD/.vs/ProjectEvaluation
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.Application/bin/Debug/net6.0
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.Application/obj
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.ApplicationContract/bin/Debug/net6.0
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.ApplicationContract/obj
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.Domain/bin/Debug/net6.0
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.Domain/obj
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.DomainShared/bin/Debug/net6.0
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.DomainShared/obj
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.EntityFrameworkCore/bin/Debug/net6.0
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.EntityFrameworkCore/obj/Debug/net6.0
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.EntityFrameworkCore/obj
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.HttpApi/bin/Debug/net6.0
/Maqta.GateWay.EmployeeCRUD/Maqta.GateWay.EmployeeCRUD.HttpApi/obj
/Maqta.GateWay.EmployeeCRUD/employee.API.Test/obj
/Maqta.GateWay.EmployeeCRUD/employee.API.Test/bin/Debug/net6.0
